body {
    font-family: Arial, sans-serif;
    padding: 20px;
    margin: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 1rem;
}

.button {
    background-color: #dfe1df;
    border: none;
    padding: 12px 22px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
}
 .button:hover {
    background-color: #f2f3f6;
} 

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 1rem;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

main {
    padding: 2rem;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

input[type="text"] {
    width: 75%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

button[type="submit"]:hover {
    background-color: #45a049;
}

#deleteButton {
    background-color: #f64d4d;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px; 
}

#deleteButton:hover {
    background-color: #f9392c;
}


.book-table {
    width: 75%;
    border-collapse: collapse;
    margin-top: 20px;
}

.book-table th,
.book-table td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.book-table th {
    background-color: #f2f2f2;
}

.book-table tbody tr:hover {
    background-color: #fbfafa;
}

.container {
    margin-top: 20px;
    border: 1px solid #eae7e7;
    padding: 20px;
    width: 75%;
}

.container h2 {
    font-size: 24px;
    margin-bottom: 10px;
}


